<div>
	<label>
		Title
		<input class='title' class="form-control" placeholder="Title">
	</label>
</div>
<div>
	<label>
		Deadline
		<input class='deadline' class="form-control" placeholder="Deadline">
	</label>
</div>
<div>
	<button class='btn btn-sm' id='save-task'>Save</button>
</div>