<div id='alerter' class='container'></div>
<header>
	<h3>
		Simple Todo Tasks
	</h3>
	<h5>
		From Ruby Garage
	</h5>
</header>
<div id='container'></div>
<div class='add-todo'>
	<button class='beautiful-button'>
		<div>
			<span class='plus'>+</span>
			<span class='button-text'>Add TODO List</span>
		</div>
	</button>
</div>
<footer>&#169; Ruby Garage</footer>
