<div class="col-xs-1">
	<input type='checkbox' class='isChecked' />
</div>

<div class="col-xs-8" >
	<div class="wrapper"></div>
	<div name='title'></div>
</div>

<div class="col-xs-3">
	<span class='edit-box'>
		<span class='glyphicon glyphicon-sort grey'></span>
		<span class='grey separate'>|</span>
		<span class='glyphicon glyphicon-pencil grey'></span>
		<span class='grey separate'>|</span>
		<span class='glyphicon glyphicon-trash grey'></span>
	</span>
</div>
