<div class='header'>
	<button class='btn header-button'>
		<span class='glyphicon glyphicon-calendar' />
	</button>
	
	<span name='header'></span>
	<span class='header-info'></span>
	
	<span class='pull-right toggle-show'>
		<button id='edit-todo' class='btn header-button'>
			<span class='glyphicon glyphicon-pencil grey' />
		</button>
		<span class='grey separate'>|</span>
		<button id='delete-todo' class='btn header-button'>
			<span class='glyphicon glyphicon-trash grey' />
		</button>
	</span>
</div>

<div class='add-info'>
	<div class="input-group input-group-sm">
		<span class="glypicon glyphicon-plus input-group-addon plus"></span>
		<input  class="form-control" placeholder='Start typing here to create a task...' />
		<span class="input-group-addon add-task">Add Task</span>
	</div>
</div>

<div class='tasks'></div>
