$blue: #4375B3;
$grey: #D9DEDE;
$green: #75AC8D;
$white: #fff;
$rightRadius: 0 5px 5px 0;
$bottomRadius: 0 0 5px 5px;
$blueGradient: linear-gradient(to bottom, #4580BC, #30549B);
$greenGradient: linear-gradient(to bottom, #9CD3B7, #3D7755);
$bold: bold;
$input-height: 30px;
$greyBorder: 1px solid $grey;
$blackBorder: 1px solid black;
$rowBottomRadius: 0 0 10px 10px;

@mixin text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin save-button {
	background: $blueGradient;
	color: $white;
	font-weight: $bold;
	border: 0;
}

@mixin align-middle {
	vertical-align: middle;
}

html {
	height: 100%;
	
	body {
		header {
			margin-top: 5%;
			line-height: 0.5;
			
			h3, h5 {
				font-weight: $bold;

				text: {
					shadow: 2px 2px 2px $white;
					align: center;
					transform: uppercase;
				}
			}
		}
		
		background: linear-gradient(to bottom, #f1da36 35%, #A3500C 100%);
		
		.todoContainer {
			margin-top: 5%;
			border-radius: 10px;
			
			.header-info {
				@include align-middle();
				font: {
					weight: $bold;
					size: 12pt;
				}
				
				#save-btn {
					@include save-button();
				}
				
				color: $white;
				text-align: center;
			}

			.add-info {
				background-color: $grey;
				padding: 10px;
				
				.input-group.input-group-sm	{
					.form-control {
						height: $input-height;
					}
					width: 100%;
					
					@extend .form-control;
				}
				
				span {
					margin: 0;
					
					input {
						width: 60%;
						height: $input-height;
					    border: 1px solid $grey;
						@include align-middle();
					}
				}
				
				.input-group-addon, .input-group-btn {
					width: 9%;
				}
				
				.green {
					background-color: $green;
					font-weight: $bold;
				}
				
				.add-task {
					background: $greenGradient;
					font-weight: $bold;
					width: 11%;
					border-radius: 0 5px 5px 0;
					text-shadow: 0 1px 1px #000;
					color: $white;
					cursor: pointer;
				}
				
				.input-group {
					.plus {
						background-color: $grey;
						font-size: 50px;
						border: 0;
						padding-right: 8px;
						line-height: 0;
						color: $green;
						text-shadow: 0 -2px 2px black; 
					}
				}
			}
			
			.taskRow {
				border-radius: $rowBottomRadius;
				background-color: $white;
				
				label {
					padding: 7px 5px 5px 5px;
					
					input[type='checkbox'] {
						margin: 10px 0 0 1px;
						@include align-middle();
					}
				}
				
				.borders {
					border: {
						right: $greyBorder;
						left: $greyBorder;
					}
					width: 4px;
				}
				
				.row.show-grid {
					margin: 0;
					
					
						
					div {

						&.col-xs-8 {
							border: {
								right: $greyBorder;
								left: $greyBorder;
							}
							
							& .wrapper {
								border-left: $greyBorder;
								float: left;
								margin-left: -12px;
								min-height: 40px;
								
								[name=taskString] {
									padding: 10%;
								}
								
								#save-task {
									@include save-button();
								}
							}
						}
						
						&.col-xs-1 {
							padding-left: 18px;
						}
						
						&.col-xs-3 {
							.edit-box {
								padding-left: 25%;
								font-size: 10px;
								
								span{
									font-size: 10px;
								}
							}
						}
					}
				}
			}
			
			.row.show-grid:hover {
				background-color: #FCFED5;
				cursor: pointer;
				border-radius: $rowBottomRadius;
				
				& .edit-box {
					display: inline-block;
				}
			}
			
			.edit-box {
				margin-top: 12px;
				margin-left: 10%;
				display: none;    									
			}
			
			.header {
				padding: 7px;
				cursor: pointer;
				border-top: 1px double lightgrey;
				background: $blueGradient;
				
				&:hover .toggle-show {
					display: inline-block;
				}
				
				& .toggle-show {
					display: none;
				}
				
				& .header-button {
					background-color: rgba(0,0,0,0);
				}
			}

			.bottom-radius {
				height: 10px;
				background-color: $white;
				border-radius: $bottomRadius;
			}
		}

		.grey {
			color: rgb(220, 220, 240);
		}
		
		.separate {
			margin: 5px;
			
			font: {
				weight: $bold;
				size: 15px;
			}
		}
		
		.beautiful-button {
			position: relative;
			left: 50%;
			margin: 12% 0 0 -15%;
			white-space: nowrap;
			border: 1px;
			border-radius: 3px;
			
			width: 30%;
			padding: 5px;
			font-weight: $bold;
			background: $blueGradient;
			
			.button-text {
				font-size: 1em;
				color: $white;
			}
			
			div, span {
				padding: 5px;
			}
			
			.plus {
				font-size: 33pt;
				line-height: 0;
				@include align-middle();
				color: #30496E;
				text-shadow: 0 -1px 1px black;
			}
		}
		
		footer {
			color: $white;
			text-align: center;
			margin: 30%;
		}
	}
}